---

Language: Cpp
Standard: Auto
BasedOnStyle: Chromium

ColumnLimit: '85'
TabWidth: '4'
UseTab: Never

AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignEscapedNewlines: Left
AlignTrailingComments: 'true'

AllowAllArgumentsOnNextLine: 'true'
AllowAllParametersOfDeclarationOnNextLine: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: All

BreakBeforeBraces: Custom
BreakBeforeBinaryOperators: None

BraceWrapping:
    AfterFunction: true

IncludeBlocks: Preserve
PointerAlignment: Left
ReflowComments: 'false'
SortIncludes: 'false'

...
